mkdocs-material~=9.5.3
mkdocs-material[imaging]

# mkdocs material plugins and their dependencies
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
lxml

# mkdocs material cards dependencies
pillow
cairosvg

# jupyter notebook dependencies
ipykernel